header{
    position: relative;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 3;
}
.header
{
    position: relative;
    background-image: linear-gradient(to left, blue, rgb(18, 157, 250));
    display: flex;
    flex-basis: content;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 4;
}

.accueil{
    width: fit-content;
    height: 2rem;
    text-align: center;
    justify-self: center;
    margin: 0 1rem 0 1rem;
    border: rgba(169, 169, 169, 0.178) 2px;
    border-radius: 1em;
    color: white;
    background-color: rgba(11, 14, 219, 0.61);
    transition: 0.3s;
}
.accueil:hover{
    text-decoration: underline;
    background-color: rgb(4, 60, 124);
    cursor: pointer;
}

h1{
    font-size: 3em;
    text-align: center;
}
.nav{
    position: absolute;
    position: relative;
    
    z-index: 3;
    transition: 0.5s;
}
nav{ 
    width: 100%;
    height: 3rem;
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-content: center;
    transition: 0.5s;
}

a:hover{
    background-color: rgb(67, 217, 223);
    cursor: pointer;
}
#menu-burger{
    width: 2rem;
    height: 2.5rem;
    margin-left: 2%;
    padding: 0.15rem;
    background-color: papayawhip;
    border-radius: 0 0 0.2rem 0.2rem;
    transition: 0.5s;
}
#menu-burger:hover{
    background-color: rgb(150, 146, 140);
}
.nav2{
    display: none;
    position: absolute;
}
#nav2-livres{
    bottom: 20rem;
}
/* ======================================================  STYLES MOBILES  ======================================================= */

@media (max-width:976px) {

    .header{
        align-items: center;
        justify-content: space-between;
    }
    #logo{
        content: url(../images/logo_phone.jpeg);
        display: block;
        height: 4rem;
    }
    h1{
        font-size: 2em;
    }
    .nav{
        bottom: 16.5rem;
    }
    nav{
        position: relative;
        flex-direction: column;
        height: 100%;
        z-index: 2;
        box-shadow: 0rem 0px 10px black;
        
    }
    nav a{
        position: relative;
    }
    a{
        flex: 1;
        height: 100%;
        width: 100%;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        transition: 0.5s;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    .nav2{
        
        bottom: 20rem;
        z-index: 1;
        height: 5rem;
        width: 100%;
        bottom: 3rem;
        background-color: whitesmoke;
        box-shadow: 0rem 0px 10px black;
        transition: 0.5s;
    }
    a p{
        
        vertical-align: middle;
        color: black;
        justify-self: center;
        align-self: center;
    }

    #menu-burger{
        position: relative;
        z-index: 1;
        transition: 0.5s;
    }
}
/* fin de media mobile */

/* ======================================================  STYLES GRANDS ÉCRANS  ================================================= */
@media (min-width:977px) {

    .header{
        align-items: center;
        justify-content: space-between;
    }
    .nav{
        bottom: 3.2rem;
    }
    nav{
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        z-index: 2;
        box-shadow: 0rem 0px 10px black;
        height: 3rem;
    }
    a{
        flex: 1;
        height: 100%;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        transition: 0.5s;
    }
    .nav2{
        
        bottom: 2.5rem;
        z-index: 1;
        height: 5rem;
        width: 100%;
        bottom: 3rem;
        display: flex;
        background-color: whitesmoke;
        box-shadow: 0rem 0px 10px black;
        transition: 0.5s;
    }
    a p{
        vertical-align: middle;
        color: black;
        justify-self: center;
        align-self: center;
    }
    #menu-burger{
        position: relative;
        z-index: 1;
        transition: 0.5s;
    }
}
/* fin de media grands écrans */

/* ======================================================  FIN DE PAGE  ================================================= */

